body{
    margin:0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}
.page-header{
    width: 100%;
    background-color: #445162;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
    
}
.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.page-header-wrp{
    width: 400px;
    float: left;
}
.page-header-heading {
    margin: 0 0 20px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}
.page-header-list {
    padding: 0 0 0 30px;
    margin: 0 0 0 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style-type: none;
}
.page-header-list-item {
  position: relative;
  width:425px;
}

.page-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: -30px;
  background-image: url('../Site-4/images/галочка.png');
  background-size: cover;
}
.page-header-photo {
    display: block;
    width: 469px;
    height: 214px;
    background-color: #fff;
    float: right;
}
.about-product{
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
}
.about-product-heading{
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}
.text{
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}
.about-product-text{
    width: 650px;
    margin-top: 30px;
}
.about-product-img{
    width: 430px;
    height: 245px;
    background-color: #445161;
    display:block;
    color: #445161;
}
.dignity-product{
    background-color: #f5f5f5;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.dignity-product-heading{
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    display: block;
    width: 100%;
}
.dignity-product-wrp{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.dignity-product-details-sum::-webkit-details-marker {
  display: none;
}
.dignity-product-details-sum:before {
  content: "+";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #445161;
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: -39px;
}
.dignity-product-details-sum{
    display: block;
    outline: none;
    position: relative;
    margin: 0 41px;
}
.dignity-product-details{
    margin-top: 35px;
}
.dignity-product-text{
    margin: 0 41px;
}
.screenshots{
    width: 100%;
}
.screenshots-heading{
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    display:block;
    margin: 0 auto;
    padding: 50px 0 34px 0;
}
.screenshots-wrp{
    display:flex;
    flex-wrap: wrap;
}
.screenshots-card{
    width: 43%;
}
.screenshots-info{
    display: flex;
}
.screenshots-img{
    width: 200px;
    height: 150px;
    background-color: #445161;
    display: block;
    color:#445161;
}
.screenshots-card-wrp{
    padding: 0 15px 34px 15px;
    width: 359px;
}
.screenshots-card-heading{
    color: #445161;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align:left;
    display: block;
}